# Copyright (c) 2018 Graphcore Ltd. All rights reserved.
build
data
*__pycache__*
*__cache__*
*.pb
*.log
*.pyc
*.so
*.dylib
*.html
*.onnx
experimental
.vscode/*
.coverage
*compile_commands.json*
.cache/
*.code-workspace
.idea

