# Copyright (c) 2021 Graphcore Ltd. All rights reserved.
#
# PopART requirement files are organised as follows:
#
# requirements.txt       - Includes both `requirements-build.txt` and
#                          `requirements-run.txt`.
# requirements/build.txt - A list of packages required for building PopART.
# requirements/run.txt   - A list of packages required for running PopART.
# requirements/dev.txt   - A list of packages recommended to be installed for
#                          PopART developers. This includes packages like
#                          conan, cmake, ninja, view, sphinx as well as packages
#                          that are normally required to build the Poplar view
#                          but that aren't strictly speaking PopART
#                          requirements.

# Packages we depend on at build-time:
-r requirements/build.txt
# Packages we depend on at run/test-time:
-r requirements/run.txt
